@font-face {
    font-family: "RopaSans";
    src: url("RopaSans-Regular.ttf") format("woff"),
}
*:focus{
    outline: none;
}
body{
    background-color: #e9eee6;
}
.owl-image{
    object-fit: cover;
    width: 100%;
    height: 300px;
}
.image-col{
    height: 300px;
}
.nopadding{
    padding: 0 !important;
}
.container-fluid{
    position: relative;
}
button{
    padding: 7.5px 20px;
    border-radius: 25px;
    background-color: #00669a;
    color: #fff;
    font-size: 18px;
    font-family: "RopaSans";
    font-weight: bold;
}

.test-header{
    padding: 25px;
    color: #00669a;
    font-size: 50px;
    background: #eaeee7;
}
.body{
    background: #fff;
    padding: 40px;
}
button{
    border: 0;
    box-shadow: none;
    border-radius: 0;
    width: 45%;
}
.text-right button{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.text-left button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
@media only screen and (max-width: 600px) {
    .image-col{
        display: none;
    }
    .navbar{
        display: none;
    }
    .body{
        position: relative;
        padding: 25px;
        overflow: hidden;
    }
    .mobile-button .next{
        position: absolute;
        top: 53%;
        right: -5%;
        padding: 30px 50px;
        border-radius: 50%;
        width: auto;
        background: rgba(255,255,255,.4);
    }
    .mobile-button .prev{
        position: absolute;
        padding: 30px 50px;
        top: 53%;
        left: -5%;
        border-radius: 50%;
        background: rgba(255,255,255,.4);
        width: auto;
        transform: rotate(-180deg);
    }
    .mobile-button button{
        background-color: transparent;
    }
}